/* styles.css */

/* Đặt nền cho trang */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
}

/* Định dạng header */
#header {
    background-color: #004A8B;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 150px;
}

h1, h2, h3 {
    text-align: center;
    color: #004A8B;
}

/* Định dạng form */
form {
    margin-top: 100px;
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 96.5%;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    background-color: #004A8B;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

form button:hover {
    background-color: #003366;
}

/* Bảng hiển thị kết quả tìm kiếm */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #004A8B;
    color: white;
}

/* Các liên kết quay lại */
.btn-back {
    display: inline-block;
    text-align: center;
    background-color: #004A8B;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-left: 34rem;
}

.btn-back:hover {
    background-color: #003366;
}

/* Tạo khoảng cách giữa các phần tử */
div {
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

p{
    margin-left: 33rem;
}